In [1]:
# Comenzaremos leyendo el archivo AnalisisMarino.csv y luego realizaremos un análisis inicial de cada variable. Posteriormente, pasaremos al análisis exploratorio detallado del conjunto de datos.

#Instalar en el terminal si estas trabajando en Rstudio:
#como este ejemplo: pip3 install pandas

# Importando pandas y numpy para manejo y análisis de datos
import pandas as pd
import numpy as np

In [3]:
# Importando matplotlib y seaborn para visualización
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Configurando estilos de seaborn para mejorar la estética de las visualizaciones
sns.set_style("whitegrid")

In [6]:
# Importando scikit-learn para técnicas de preprocesamiento y modelado
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [7]:
# Leyendo el archivo CSV
df_marino = pd.read_csv('AnalisisMarino.csv')
# Mostrando las primeras filas del DataFrame para tener una idea inicial de los datos
df_marino.head()

,Especie,Latitud,Longitud,Fecha,Tamaño,Peso,Profundidad,Temperatura del agua,Salinidad,Oxígeno disuelto,...,Velocidad de nado,Color predominante,Tipo de agua,Método de avistamiento,Sexo,Edad estimada,Estado de conservación,Número de aletas,Presencia de parásitos,Dieta reciente
0,Pez Payaso,22.866888,-141.914792,2023-07-21,165.120034,26.264450,207.459705,22.400466,37.904041,8.305125,...,10.374877,rojo,salada,red,femenino,19,vulnerable,3,no,plancton
1,Tiburón Blanco,-42.922633,164.878496,2023-07-11,131.025494,36.401537,233.176262,10.363485,30.948666,5.340861,...,18.057886,gris,dulce,sonar,indeterminado,2,en peligro,2,no,peces pequeños
2,Salmón,-47.738454,147.289063,2022-10-12,126.497569,32.676544,256.908652,6.098199,32.013617,2.894884,...,4.341985,azul,salobre,red,femenino,32,crítico,5,sí,algas
3,Salmón,-3.580413,-94.960754,2023-04-02,93.279929,42.740469,389.230699,15.972230,37.004205,9.285067,...,8.392404,azul,dulce,sonar,femenino,19,vulnerable,3,sí,moluscos
4,Pez Espada,29.118669,109.437909,2023-06-05,134.544566,9.622408,109.633952,27.368134,30.057200,7.453074,...,8.547533,azul,salada,sonar,femenino,36,vulnerable,6,no,crustáceos

In [8]:
#Aquí está una vista previa de las primeras filas del conjunto de datos:

#Contiene 26 columnas (variables) que abarcan desde la especie del pez, coordenadas geográficas, fecha de observación, características físicas, hasta detalles sobre el hábitat y comportamiento del pez.
L#as variables incluyen tanto características numéricas como categóricas.
#Para tener una mejor comprensión de los datos, vamos a realizar un análisis inicial de cada variable, comenzando con un resumen descriptivo de las variables numéricas y luego analizando la distribución de las variables categóricas.

NameError: name 'L' is not defined